body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  text-align: center;
}

div {
  margin: 10px;
}

label {
  display: block;
  margin: 10px 0;
}

input[type="number"], input[type="color"] {
  margin-left: 10px;
}
